<!-- POP UP FORM -->
<div class="sticky">
  <!-- sticky ELEMENT: make element "stick" to a specific position on the screen as the user scrolls -->
  <div class="form-container" >

    <!-- RESET PASSWORD FORM -->
    <form class="reset-password-form" [ngClass]="{ active: isActive }">

      <div class="form-header">
        <!-- FORM TITLE -->
        <h2 class="form-title">
          <span>
            Reset 
          </span>
          Password
        </h2>

        <!-- CLOSE FORM BUTTON -->
        <a class="close-form-btn" (click)="closeResetPasswordForm()">
          <fa-icon [icon]="closeIcon"></fa-icon>
        </a>
      </div>

      <div class="form-input">
        <div class="user-input-wrp">
          <input type="text" class="input-text" required>
          <span class="floating-label">
            {{ defaultParams.email }}
          </span>
        </div>
        
        <!-- RESET PASSWORD BUTTON -->
        <button class="resetPasswordBtn" (click)="resetPassword()">
          <fa-icon [icon]="upIcon"></fa-icon>
          Reset Password
        </button>
      </div>

    </form>
  </div>
  <!--=====================================-->
</div>