.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    max-width: 70%;
    margin: auto;
    padding: 1rem;
    border-radius: 0px 21px 0px 21px;
    box-shadow: 0 3rem 3rem 0 rgba(0, 0, 0, .1);
}

.product-info {
    border-left: 1px solid var(--folly);
    padding: 1.5rem;
}

.product-img {
    width: 100%;
    border-radius: 0px 21px 0px 21px;
    transition: .4s all ease;
}

.product-img:hover {
    filter: sepia(20%);
}

.product-name {
    color: #575757;
}

.product-price {
    font-size: 1rem;
    color: var(--folly);
}

.product-price span {
    color: #6b6b6b;
    font-weight: 500;
    font-size: .8rem;
    text-decoration: line-through;
}

.product-description {
    font-weight: 600;
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #6b6b6b;
    width: 80%;
}

.add-to-cart-btn {
    margin-top: 1rem;
    border: none;
    border-radius: 4px;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    background: var(--folly);
    color: var(--white);
    transition: .4s all ease;
    cursor: pointer;
    opacity: .8;
}

.add-to-cart-btn:hover {
    opacity: 1;
    transform: translateY(-4px);
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, .1);
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
    }

    .product-info {
        border-left: 9px solid var(--folly);
    }
}

@media (max-width: 425px) {
    .product-container {
        max-width: 100%;
        text-align: center;
    }

    .product-info {
        border-left: none;
        text-align: center;
    }

    .product-description {
        width: 100%;
    }
}